body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    text-align: center;
}
#container {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    flex-direction: row; /*主軸の方向を決める*/
    justify-content: center; /*主軸の間隔を決める*/
    flex-wrap: wrap; /*交差軸の方向を決める*/ 
    align-items: flex-start; /*交差軸の間隔を決める*/ 
    /* align-content: space-between; /*複数の行、列の間隔を決める*/  
}

#container div {
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 4em;
}

div:nth-of-type(3) {
    align-self: center;
}